<h1 class="title is-2"><%= @post.title %></h1>
<p class="is-size-7 is-italic">
  Page loads: <%= @post.views %> &nbsp;|&nbsp;
  Last updated at <time class="w-date" datetime="<%= @post.updated_at %>"></time>
</p>
<hr/>
<div class="content w-content">
  <%= @post.body %>
</div>
