<div class="content">
  <h1>Tags List</h1>
  <ul>
    <%= for tag_count <- @tags_with_count do %>
      <li>
        <a href="<%= Routes.page_path(@conn, :tags) <> "?tags=#{tag_count.tag_name}" %>">
          <%= tag_count.tag_name %>
        </a>
        (<%= tag_count[:post_count] %><%= if tag_count[:post_count] > 1, do: " posts", else: " post" %>)
        </li>
      <% end %>
    </ul>
  </div>
