<main role="main" class="container pt-4 pb-3">
  <%= @inner_content %>
</main>
<footer class="footer">
  <div class="content has-text-centered">
    <p>
      A BLOG <strong>w</strong>ebsite.
    </p>
  </div>
</footer>
