<div class="content">
  <h1>Archives List</h1>
  <ul>
    <%= for yearmonth <- @yearmonths do %>
      <li>
        <a href="<%= Routes.page_path(@conn, :archives) <> "?yearmonth=#{yearmonth}" %>">
          archive of <%= yearmonth %>
        </a>
        (<%= @yearmonths_count[yearmonth] %><%= if @yearmonths_count[yearmonth] > 1, do: " posts", else: " post" %>)
        </li>
      <% end %>
    </ul>
  </div>
